# CMPSC 448: Homewrok #1
# Exploratory Data Analysis with `pandas`

## Objectives

In this assignment, you are asked to analyze the UCI Adult data set containing demographic information about the US residents. This data was extracted from the census bureau database found at

http://www.census.gov/ftp/pub/DES/www/welcome.html

The features of data with possible values of each feature are listed below:

| Feature Name| Possible Values  |
|------|------|
| age | continuous|
| workclass| Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked|
| fnlwgt| continuous|
| education | Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool|
|education_num | continuous|
|marital_status | Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse|
|occupation | Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces|
|relationship | Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried |
|race | White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black|
|sex | Female, Male|
|capital_gain| continuous|
|capital_loss | continuous|
|hours-per-week | continuous |
|native-country | United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands |
|salary | >50K,<=50K |


Please  complete the tasks in the Jupyter notebook by answering following 8 questions.

In [34]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [35]:
data = pd.read_csv('adult.data.csv')
print("\n".join(data.columns))

age
 workclass
 fnlwgt
 education
 education-num
 marital-status
 occupation
 relationship
 race
 sex
 capital-gain
 capital-loss
 hours-per-week
 native-country
 salary

In [36]:
data.shape

(32561, 15)

In [37]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women (sex feature) are represented in this dataset?

In [38]:
# You answer (code + results)
data[' sex'].value_counts()

#answer
# Male      21790
# Female    10771

 Male      21790
 Female    10771
Name:  sex, dtype: int64

### 2. What is the average age (age feature) of women?

In [39]:
# You answer (code + results)
data[ data[" sex"] == " Female" ]['age'].mean()

#answer
#36.85823043357163

36.85823043357163

### 3. What is the percentage of German citizens (native-country feature)?

In [40]:
# You answer (code + results)
(len(data[ data[' native-country'] == ' Germany']) / len(data)) * 100

#answer
#0.42074874850281013%

0.42074874850281013

###  4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [41]:
# You answer (code + results)
#mean age of those who earn more than 50k
data[ data[' salary'] == ' >50K']['age'].mean()

44.24984058155847

In [42]:
#standard deviation of age of those who earn more than 50k
data[ data[' salary'] == ' >50K']['age'].std()

10.51902771985177

In [43]:
#mean age of those who earn less than 50k
data[ data[' salary'] == ' <=50K']['age'].mean()

36.78373786407767

In [44]:
#standard deviation of age of those who earn less than 50k
data[ data[' salary'] == ' <=50K']['age'].std()

#answer
#age of those who earn more than 50k
#mean: 44.24984058155847
#standard deviation: 10.51902771985177
#age of those who earn less than 50k
#mean: 36.78373786407767
#standard deviation: 14.020088490824813

14.020088490824813

### 5. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [45]:
# You answer (code + results)
#I have also added the HS_Grad since to me that counts as "have at least high school education"
len(data[ (data[' salary'] == ' >50K') & (data[' education'] != ' Bachelors') & (data[' education'] != ' Prof-school') & (data[' education'] != ' Assoc-acdm') & (data[' education'] != ' Assoc-voc') & (data[' education'] != ' Masters') & (data[' education'] != ' Doctorate') & (data[' education'] != ' HS-Grad')]) == 0

#answer
#No that is not true

False

### 6.  Display age statistics for each race (race feature) and each gender (sex feature).

Hint: Use `groupby()` and `describe()` functions of DataFrame. Find the maximum age of men of Amer-Indian-Eskimo race.

In [46]:
# You answer (code + results)
data.groupby([' race', ' sex']).describe()

#answer
#run cell to see full answer

                                 age                                          \
                               count       mean        std   min   25%   50%
 race                sex
 Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                     Male      192.0  37.208333  12.049563  17.0  28.0  35.0
 Asian-Pac-Islander  Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                     Male      693.0  39.073593  12.883944  18.0  29.0  37.0
 Black               Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                     Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
 Other               Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                     Male      162.0  34.654321  11.355531  17.0  26.0  32.0
 White               Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                     Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                           fnlwgt                 \
                               75%   max    count           mean
 race                sex
 Amer-Indian-Eskimo  Female  46.00  80.0    119.0  112950.731092
                     Male    45.00  82.0    192.0  125715.364583
 Asian-Pac-Islander  Female  43.75  75.0    346.0  147452.075145
                     Male    46.00  90.0    693.0  166175.865801
 Black               Female  46.00  90.0   1555.0  212971.387781
                     Male    46.00  90.0   1569.0  242920.644997
 Other               Female  39.00  74.0    109.0  172519.642202
                     Male    42.00  77.0    162.0  213679.104938
 White               Female  46.00  90.0   8642.0  183549.966906
                     Male    49.00  90.0  19174.0  188987.386148

                                                                          \
                                       std      min        25%       50%
 race                sex
 Amer-Indian-Eskimo  Female   93207.974077  12285.0   31387.00   87950.0
                     Male     85063.251595  13769.0   48197.75  113091.0
 Asian-Pac-Islander  Female   76401.627757  19914.0   86879.25  131986.0
                     Male     88552.952600  14878.0   98350.00  147719.0
 Black               Female  109971.263983  19752.0  142666.50  193553.0
                     Male    134145.970948  21856.0  156410.00  221196.0
 Other               Female   77766.666801  24562.0  119890.00  171199.0
                     Male     92187.362738  25610.0  150726.75  208516.5
 White               Female  101710.294874  19395.0  115914.75  175810.5
                     Male    103714.598850  18827.0  117381.00  178662.5

                                                   education-num             \
                                   75%        max          count       mean
 race                sex
 Amer-Indian-Eskimo  Female  163027.50   445168.0          119.0   9.697479
                     Male    182656.00   356015.0          192.0   9.072917
 Asian-Pac-Islander  Female  175705.75   379046.0          346.0  10.390173
                     Male    200117.00   506329.0          693.0  11.245310
 Black               Female  253759.00   930948.0         1555.0   9.549839
                     Male    298601.00  1268339.0         1569.0   9.423199
 Other               Female  219441.00   388741.0          109.0   8.899083
                     Male    253334.75   481175.0          162.0   8.802469
 White               Female  224836.50  1484705.0         8642.0  10.127980
                     Male    236858.75  1455435.0        19174.0  10.138521

                                                                   \
                                  std  min  25%   50%   75%   max
 race                sex
 Amer-Indian-Eskimo  Female  2.334540  2.0  9.0  10.0  11.0  16.0
                     Male    2.268587  2.0  9.0   9.0  10.0  16.0
 Asian-Pac-Islander  Female  2.796647  1.0  9.0  10.0  13.0  15.0
                     Male    2.777463  1.0  9.0  11.0  13.0  16.0
 Black               Female  2.207815  1.0  9.0   9.0  10.0  16.0
                     Male    2.382841  1.0  9.0   9.0  10.0  16.0
 Other               Female  3.027482  2.0  7.0   9.0  10.0  14.0
                     Male    3.361897  1.0  8.0   9.0  10.0  16.0
 White               Female  2.368115  1.0  9.0  10.0  12.0  16.0
                     Male    2.656464  1.0  9.0  10.0  13.0  16.0

                             capital-gain                                  \
                                    count         mean           std  min
 race                sex
 Amer-Indian-Eskimo  Female         119.0   544.605042   2451.591587  0.0
                     Male           192.0   675.260417   2929.745443  0.0
 Asian-Pac-Islander  Female         346.0   778.436416   7675.228631  0.0
                     Male           693.0  1827.813853  10947.525528  0.0
 Black               Female        1555.0   516.593569   5312.749129  0.0
                     Male          1569.0   702.454430   4962.113183  0.0
 Other               Female         109.0   254.669725   1317.326460  0.0
                     Male           162.0  1392.185185  11093.711595  0.0
 White               Female        8642.0   573.610391   4763.131649  0.0
                     Male         19174.0  1368.674455   8442.830669  0.0

                                                     capital-loss              \
                             25%  50%  75%      max         count        mean
 race                sex
 Amer-Indian-Eskimo  Female  0.0  0.0  0.0  15024.0         119.0   14.462185
                     Male    0.0  0.0  0.0  27828.0         192.0   46.395833
 Asian-Pac-Islander  Female  0.0  0.0  0.0  99999.0         346.0   50.852601
                     Male    0.0  0.0  0.0  99999.0         693.0  120.373737
 Black               Female  0.0  0.0  0.0  99999.0        1555.0   45.450804
                     Male    0.0  0.0  0.0  99999.0        1569.0   75.186106
 Other               Female  0.0  0.0  0.0   7688.0         109.0   36.284404
                     Male    0.0  0.0  0.0  99999.0         162.0   77.746914
 White               Female  0.0  0.0  0.0  99999.0        8642.0   65.390535
                     Male    0.0  0.0  0.0  99999.0       19174.0  102.261343

                                                                     \
                                    std  min  25%  50%  75%     max
 race                sex
 Amer-Indian-Eskimo  Female  157.763811  0.0  0.0  0.0  0.0  1721.0
                     Male    286.562584  0.0  0.0  0.0  0.0  1980.0
 Asian-Pac-Islander  Female  296.529225  0.0  0.0  0.0  0.0  2258.0
                     Male    472.917697  0.0  0.0  0.0  0.0  2457.0
 Black               Female  299.099591  0.0  0.0  0.0  0.0  4356.0
                     Male    370.976546  0.0  0.0  0.0  0.0  2824.0
 Other               Female  231.796929  0.0  0.0  0.0  0.0  1740.0
                     Male    370.986720  0.0  0.0  0.0  0.0  2179.0
 White               Female  352.330817  0.0  0.0  0.0  0.0  4356.0
                     Male    434.156936  0.0  0.0  0.0  0.0  3770.0

                             hours-per-week                                   \
                                      count       mean        std  min   25%
 race                sex
 Amer-Indian-Eskimo  Female           119.0  36.579832  11.046509  4.0  35.0
                     Male             192.0  42.197917  11.596280  3.0  40.0
 Asian-Pac-Islander  Female           346.0  37.439306  12.479459  1.0  35.0
                     Male             693.0  41.468975  12.387563  1.0  40.0
 Black               Female          1555.0  36.834084   9.419960  2.0  35.0
                     Male            1569.0  39.997451  10.909413  1.0  40.0
 Other               Female           109.0  35.926606  10.300761  6.0  30.0
                     Male             162.0  41.851852  11.084779  5.0  40.0
 White               Female          8642.0  36.296691  12.190951  1.0  30.0
                     Male           19174.0  42.668822  12.194633  1.0  40.0


                              50%   75%   max
 race                sex
 Amer-Indian-Eskimo  Female  40.0  40.0  84.0
                     Male    40.0  45.0  84.0
 Asian-Pac-Islander  Female  40.0  40.0  99.0
                     Male    40.0  45.0  99.0
 Black               Female  40.0  40.0  99.0
                     Male    40.0  40.0  99.0
 Other               Female  40.0  40.0  65.0
                     Male    40.0  40.0  98.0
 White               Female  40.0  40.0  99.0
                     Male    40.0  50.0  99.0

In [47]:
# max age of men of Amer-Indian-Eskimo 
data[ (data[' race'] == ' Amer-Indian-Eskimo') & (data[' sex'] == ' Male')]['age'].max()

#answer
#82 years old

82

### 7. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [48]:
# You answer (code + results)
#max number of hours a person works per week
max = data[' hours-per-week'].max()
max

#answer 
#99 hours

99

In [49]:
#number of people who work the max number of hours
max_workers = len(data[ data[' hours-per-week'] == max])
max_workers

#answer
#85 people work 99 hours a week

85

In [50]:
#percentage of people who work the max number of hours a week that make >50k
len(data[ (data[' hours-per-week'] == max) & (data[' salary'] == ' >50K')]) / max_workers * 100

#answer
#29.411764705882355% of people who work 99 hours a week make >50k

29.411764705882355

### 8. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [51]:
# You answer (code + results)
group = data.groupby([' native-country', ' salary'])
group[' hours-per-week'].mean()

#answer
#run cell to see answer

 native-country   salary
 ?                <=50K     40.164760
                  >50K      45.547945
 Cambodia         <=50K     41.416667
                  >50K      40.000000
 Canada           <=50K     37.914634
                              ...
 United-States    >50K      45.505369
 Vietnam          <=50K     37.193548
                  >50K      39.200000
 Yugoslavia       <=50K     41.600000
                  >50K      49.500000
Name:  hours-per-week, Length: 82, dtype: float64

In [52]:
jap = data[ data[' native-country'] == ' Japan' ]
jap = jap.groupby([' salary'])
jap[' hours-per-week'].mean()

#answer
#the average number of hours per week that people in Japan who make <=50k is 41 hours
#the average number of hours per week that people in Japan who make >50k is 47.958333 hours

 salary
 <=50K    41.000000
 >50K     47.958333
Name:  hours-per-week, dtype: float64